div.css-tuw02z.e1tzin5v0{
    background-color : #0b8331;
    height : 13vh;
    border : 3px double white;
    border-radius : 0.9rem;
}

div.css-12w0qpk.e1tzin5v2{
    background-color : #0b8331;
    height : 16vh;
    border-radius : 0.9rem;
}

div.css-edivx2.e16fv1kl3{
    text-align : center;
    padding : 0px 5px;
    font-size: 1.5rem;
}

div.css-edivx2.e16fv1kl3>div.css-1yy6isu.e16nr0p34 p{
    text-align : center;
    padding : 20px 0px;
    font-size: 1.7rem;
}


